<h3 style="color:purple;" class="first">Table List</h3>
<p-table  [value]="reservation">
    <ng-template pTemplate="header">
        <tr >
            <th style="background-color:rgb(217, 174, 247)">id</th>
            <th style="background-color:rgb(217, 174, 247);">Table no</th>
            <th style="background-color: rgb(217, 174, 247);">Chair Num</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{reservations.id}}</td>
            <td>{{reservations.tableNo}}</td>
            <td>{{reservations.chairNo}}</td>
       
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.header}}
            </td>
        </tr>
    </ng-template>
</p-table>